* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav .container a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 30px;
}

nav .container div {
    display: flex;
    align-items: center;
}

nav .container div > .navbar-nav {
    display: flex;
}

nav .container div > .navbar-nav .nav-item {
    list-style: none;
}

nav .container div > .navbar-nav .nav-item .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 50px;
    font-weight: bold;
}

nav .container .form {
    margin-left: 440px;
}

nav .container .form a {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

main {
    margin-top: 0px;
    
}

main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

main .container .container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    object-fit: cover;
    border-radius: 10px;
}

main .container .container-item img {
    width: 100%;
    height: 100%;
}

main .info {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    padding: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.193);
}

main .info h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

main .info p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    font-weight: bold;
}

main .shop-now {
    position: absolute;
    color: white;
    top: 65%;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
}

.shop-now a {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s;
    font-size: 20px;
  }
  
.shop-now a:hover {
    transform: scale(1.1);
}

.shop-now a:active {
    transform: scale(0.9);
}

.search {
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    padding: 10px;
    padding-bottom: 10px;
    margin-top: 3%;
}

.search input[type="text"] {
    width: 70%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    background: none;
}

.search input[type="submit"] {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
}

#countdown-timer {
    position: absolute;
    color: white;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
}

.clothing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.clothing-container .clothing-item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
}

.men-text {
    margin-top: 100px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.men-text h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Countdown timer container */
#countdown-timer {
    text-align: center;
    margin-top: 50px;
}

/* Timer heading */
#countdown-timer h2 {
    font-size: 24px;
    color: #333;
    margin-top: 130vw;
}

/* Timer display */
#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Timer elements */
#timer div {
    margin: 0 10px;
    font-size: 48px;
    color: #333;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px 20px;
}

/* Timer element labels */
#timer div:before {
    content: attr(id);
    display: block;
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.women-text {
    margin-top: 300px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.women-text h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.women-clothing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.women-clothing-container h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 70px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 5rem;
}

footer .categories {
    width: 50%;
    margin-left: 5rem;
}

footer .categories h3 {
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

footer .categories a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    display: flex;
    margin: 0.5rem 0;
}