* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav .container a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 30px;
}

nav .container div {
    display: flex;
    align-items: center;
}

nav .container div > .navbar-nav {
    display: flex;
}

nav .container div > .navbar-nav .nav-item {
    list-style: none;
}

nav .container div > .navbar-nav .nav-item .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 50px;
    font-weight: bold;
}

nav .container .form {
    margin-left: 440px;
}

nav .container .form a {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

main {
    margin-top: 0px;
    
}

main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

main .container .container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    object-fit: cover;
    border-radius: 10px;
}

main .container .container-item img {
    width: 100%;
    height: 100%;
}

main .info {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    padding: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.193);
}

main .info h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

main .info p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    font-weight: bold;
}

main .shop-now {
    position: absolute;
    color: white;
    top: 65%;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
}

.shop-now a {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s;
    font-size: 20px;
  }
  
.shop-now a:hover {
    transform: scale(1.1);
}

.shop-now a:active {
    transform: scale(0.9);
}

